### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [230]:
# Dependencies and Setup
import os
import csv
import pandas as pd

# File to Load (Remember to Change These)
data = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(data)

## Player Count

* Display the total number of players

In [231]:
dirty_data_df = pd.DataFrame(purchase_data)
#data_df.head()
data_df = dirty_data_df.dropna(how="any")

players = data_df["SN"].value_counts().count()
player_num = pd.DataFrame({"Total Players":[players]})
player_num.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [232]:
items = data_df["Item ID"].value_counts().count()
average = data_df["Price"].mean()
purchases = data_df["Item ID"].count()
total = data_df["Price"].sum()

analysis_df = pd.DataFrame({"Number of Unique Items":[items],
                            "Average Price":[average],
                            "Number of Purchases":[purchases],
                            "Total Revenue":[total]})
analysis_df["Average Price"] = analysis_df["Average Price"].astype(float).map("${:,.2F}".format)
analysis_df["Total Revenue"] = analysis_df["Total Revenue"].astype(float).map("${:,.2F}".format)

analysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [233]:
#genders_df = data_df.drop_duplicates(["SN"])
#male = genders_df.loc[genders_df["Gender"] == "Male"]
#m = male["Gender"].count()
#print(m)

In [234]:
genders_df = data_df.drop_duplicates(["SN"])

total = genders_df["Gender"].count()

mc_df = genders_df.loc[genders_df["Gender"] == "Male"]
mc = mc_df["Gender"].count()
mp = (mc/total)*100

fc_df = genders_df.loc[genders_df["Gender"] == "Female"]
fc = fc_df["Gender"].count()
fp = (fc/total)*100

nc_df = genders_df.loc[genders_df["Gender"] == "Other / Non-Disclosed"]
nc = nc_df["Gender"].count()
np = (nc/total)*100

gender_df = pd.DataFrame({"Total Count": [mc, fc, nc],
                          "Percentage of Players": [mp, fp, np]},
                         index = ["Male", "Female", "Other / Non-Disclosed"])

gender_df["Percentage of Players"] = gender_df["Percentage of Players"].astype(float).map("{:,.2F}%".format)

gender_df.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [235]:
genderp_df = data_df.groupby(["Gender"])

count_gp = genderp_df["Purchase ID"].count()
print(count_gp)

average_gpp = genderp_df["Price"].mean()
#print(average_gpp)

total_gp = genderp_df["Price"].sum()
#print(total_gp)

averagem_ppp = total_gp["Male"]/mc
averagef_ppp = total_gp["Female"]/fc
averagen_ppp = total_gp["Other / Non-Disclosed"]/nc

idx = pd.Index(["Male", "Female", "Other / Non-Disclosed"], name='Gender')

purchase_analysis_df = pd.DataFrame({"Purchase Count":[count_gp["Male"], count_gp["Female"], count_gp["Other / Non-Disclosed"]],
                                     "Average Purchase Price":[average_gpp["Male"], average_gpp["Female"], average_gpp["Other / Non-Disclosed"]],
                                     "Total Purchase Value":[total_gp["Male"], total_gp["Female"], total_gp["Other / Non-Disclosed"]],
                                     "Average Purchase Per Person":[averagem_ppp, averagef_ppp, averagen_ppp]}, index = idx)

purchase_analysis_df["Average Purchase Price"] = purchase_analysis_df["Average Purchase Price"].astype(float).map("${:,.2F}".format)
purchase_analysis_df["Total Purchase Value"] = purchase_analysis_df["Total Purchase Value"].astype(float).map("${:,.2F}".format)
purchase_analysis_df["Average Purchase Per Person"] = purchase_analysis_df["Average Purchase Per Person"].astype(float).map("${:,.2F}".format)

purchase_analysis_df.head()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [236]:
#maxa = genders_df["Age"].max()
#mina = genders_df["Age"].min()
#print(maxa)
#print(mina)

In [237]:
#step = int((maxa-mina)/8)
#bins = [7,12,17,22,27,32,37,42,45]

#for i in range(mina, maxa, step):
#    bins.append(i)
#labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#print(bins)

In [238]:
#data_df["Total Count"] = pd.cut(genders_df["Age"], bins = 8, labels = labels).head()
#data_df.head()

In [239]:
# Create a GroupBy object based upon "View Group"
#data_dem_df = data_df.groupby(["Total Count"])

# Find how many rows fall into each bin
#print(data_dem_df["Total Count"].count())

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [269]:
#top_spenders = data_df.groupby("SN")
#top_spenders.sort_by()

amount_purchases_df = data_df["SN"].value_counts().to_frame('Counts')
#print(amount_purchases_df)

data_df["Purchase Count"] = amount_purchases_df
data_df.head()

#avg_purchase_price = data_df["Price"].mean()
#print(avg_purchase_price)

#spender_df = data_df.reset_index(drop = True)

#spender_df = data_df[["SN", "Purchase ID", "Price"]]

#spender_df["Amount"] = amount_purchases.loc

#spender_df.head()

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80