In [129]:
import pandas as pd

In [130]:
# The path to our CSV file
kick = "KickstarterData.csv"
# Read our Kickstarter data into pandas

kick_df = pd.read_csv(kick)

In [131]:
# Get a list of all of our columns for easy reference
kick_df.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [132]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
kick_df = kick_df[["name", "goal", "pledged", "state", "country", "staff_pick", "backers_count", "spotlight"]]
kick_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [133]:
# Remove projects that made no money at all
#clean_df = kick_df.loc[(clean_df["pledged"] > 0)]
clean_df = kick_df[kick_df.pledged != 0]

In [134]:
# Collect only those projects that were hosted in the US
# us_df = clean_df.loc[(clean_df["country"] == "US")]
us_df = clean_df[clean_df.country == "US"]
#us_df.head()
# Create a list of the columns
us_df.columns

Index(['name', 'goal', 'pledged', 'state', 'country', 'staff_pick',
       'backers_count', 'spotlight'],
      dtype='object')

In [135]:
# Create a new column that finds the average amount pledged to a project
us_df["Average Pledged"] = us_df["pledged"]/us_df["backers_count"]
us_df

C:\Users\Ernesto\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Average Pledged
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True,172.058824
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True,106.323529
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True,76.537879
14,Pride Con,15000.0,15110.0,successful,US,False,60,True,251.833333
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True,128.825000
...,...,...,...,...,...,...,...,...,...
4109,Going To Market,2000.0,2100.0,successful,US,False,41,True,51.219512
4110,LIBERTY! EQUALITY! AND FIREWORKS!... A Civil R...,3000.0,3506.0,successful,US,False,35,True,100.171429
4115,Bring Love's Labour's Lost to Minnesota,25000.0,25388.0,successful,US,True,213,True,119.192488
4117,"""The Santaland Diaries"" by David Sedaris in Lo...",6000.0,7140.0,successful,US,False,108,True,66.111111
4118,REBATEnsemble Presents: ICONS - The Martin Show,300.0,312.0,successful,US,False,6,True,52.000000

In [136]:
# First convert "average_donation", "goal", and "pledged" columns to float
#us_df["Average Pledged"].astype("float64").dtype
#us_df["goal"].astype("float64").dtype
#us_df["pledged"].astype("float64").dtype

# Then Format to go to two decimal places, include a dollar sign, and use comma notation
us_df["Average Pledged"] = us_df["Average Pledged"].astype(float).map("${:,.2F}".format)
us_df["goal"] = us_df["goal"].astype(float).map("${:,.2F}".format)
us_df["pledged"] = us_df["pledged"].astype(float).map("${:,.2F}".format)

us_df.head()

C:\Users\Ernesto\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Ernesto\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ernesto\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Average Pledged
0,The Class Act Players Theatre Company Presents...,"$1,500.00","$2,925.00",successful,US,False,17,True,$172.06
8,Forefront Festival 2015,"$7,200.00","$7,230.00",successful,US,False,68,True,$106.32
11,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.54
14,Pride Con,"$15,000.00","$15,110.00",successful,US,False,60,True,$251.83
15,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.82

In [143]:
# Calculate the total number of backers for all US projects
backers = us_df["backers_count"].sum()
print(backers_df)

89273

In [142]:
# Calculate the average number of backers for all US projects
#projects = us_df["name"].count()
#print(projects)
#avg_backers = round(backers/projects, 2)
#print(avg_backers)

us_df["backers_count"].mean()

41.931892907468296

In [148]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
staff_df = us_df[us_df["staff_pick"] == True]
#staff

In [151]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)
success = staff_df.groupby(["state"])
success["name"].count()

state
canceled        6
failed         21
live            2
successful    145
Name: name, dtype: int64